{% extends 'baseAdmin.html.twig' %}
{% block title %}Statistiques commandes{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('back/vendors/bootstrap/dist/css/bootstrap.min.css') }} ">
    <link rel="stylesheet" href=" {{ asset('back/vendors/font-awesome/css/font-awesome.min.css') }} ">
    <link rel="stylesheet" href=" {{ asset('back/vendors/themify-icons/css/themify-icons.css') }} ">
    <link rel="stylesheet" href=" {{ asset('back/vendors/flag-icon-css/css/flag-icon.min.css') }} ">
    <link rel="stylesheet" href=" {{ asset('back/vendors/selectFX/css/cs-skin-elastic.css') }} ">
    <link rel="stylesheet" href=" {{ asset('back/vendors/jqvmap/dist/jqvmap.min.css') }} ">
    <link rel="stylesheet" href=" {{ asset('back/assets/css/style.css') }} ">
{% endblock %}
{% block titre %}Statistiques commandes{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div id="etatCommande"></div>
                </div>
            </div>
        </div><!-- /# column -->
    </div>
{% endblock %}
{% block javascripts %}
    <script src=" {{ asset('back/vendors/jquery/dist/jquery.min.js') }} "></script>
    <script src=" {{ asset('back/vendors/popper.js/dist/umd/popper.min.js') }} "></script>
    <script src=" {{ asset('back/vendors/bootstrap/dist/js/bootstrap.min.js') }} "></script>
    <script src=" {{ asset('back/assets/js/main.js') }} "></script>
    <script src=" {{ asset('back/vendors/chart.js/dist/Chart.bundle.min.js') }} "></script>
    <script src=" {{ asset('back/assets/js/dashboard.js') }} "></script>
    <script src=" {{ asset('back/assets/js/widgets.js') }} "></script>
    <script src=" {{ asset('back/vendors/jqvmap/dist/jquery.vmap.min.js') }} "></script>
    <script src=" {{ asset('back/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }} "></script>
    <script src=" {{ asset('back/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }} "></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            let data = google.visualization.arrayToDataTable([
                ['Etat', 'Nombre'],
                ['En attente',{{ etats[0] }}],
                ['Confirmée', {{ etats[1] }}],
                ['Annulée', {{ etats[2] }}]
            ]);
            let options = {
                title: 'Etats commandes'
            };
            let chart = new google.visualization.PieChart(document.getElementById('etatCommande'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}