{% extends 'baseAdmin.html.twig' %}

{% block content %}

    <div class="card-header">

    </div>
    <div class="card-header">
        <strong> Edit Blog</strong>
    </div>
    <div class="card-body card-block">
    {{ form_start(edit_form) }}


    <div class="row form-group">

        <div class="col col-md-3"><label class=" form-control-label">Titre  </label></div>
        <div class="col-12 col-md-9">{{ form_widget(edit_form.titre) }}<small class="form-text text-muted"></small></div>
        <div class="col-12 col-md-9">
        </div>
    </div>

    <div class="row form-group">

        <div class="col col-md-3"><label class=" form-control-label">Description  </label></div>
        <div class="col-12 col-md-9">{{ form_widget(edit_form.description) }}<small class="form-text text-muted"></small></div>
        <div class="col-12 col-md-9">
        </div>
    </div>

    <div class="row form-group">

        <div class="col col-md-3"><label class=" form-control-label">Type  </label></div>
        <div class="col-12 col-md-9">{{ form_widget(edit_form.type) }}<small class="form-text text-muted"></small></div>
        <div class="col-12 col-md-9">
        </div>
    </div>

    <div class="row form-group">

        <div class="col col-md-3"><label class=" form-control-label">Date </label></div>
        <div class="col-12 col-md-9">{{ form_widget(edit_form.date) }}<small class="form-text text-muted"></small></div>
        <div class="col-12 col-md-9">
        </div>
    </div>

    <div class="row form-group">

        <div class="col col-md-3"><label class=" form-control-label">Attachment  </label></div>
        <div class="col-12 col-md-9">{{ form_widget(edit_form.file) }}<small class="form-text text-muted"></small></div>
        <div class="col-12 col-md-9">
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm" >
            <i class="fa fa-dot-circle-o"></i> Envoyer
        </button>
    </div>
    {{ form_end(edit_form) }}


    <a href="{{ path('blog_index') }}">Blog List</a>


{% endblock %}