<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 1</title>
</head>
<body>
<header >
    <h1>Report</h1>
    <div>
        <div>Hunt Kingdom</div>
        <div><a href="mailto:info@huntkingdom.com">info@huntkingdom.com</a></div>
    </div>

</header>
<main>
    <p>The client {{ app.user.username }} is reporting  {{ email }}'s comment for the reason: <h4>{{ reportdata.reason }}</h4> </p>
    <p>The client {{ app.user.username }} want to tell you what happend: <h4>{{ reportdata.message }}</h4>  </p>
    <a href="{{ path('blog_post') }}"><p>check blog</p></a>
</main>
</body>
</html>