{% extends 'baseFront.html.twig' %}

    {% block content %}
        <section class="bg-page-header">
            <div class="page-header-overlay">
                <div class="container">
                    <div class="row">
                        <div class="page-header">
                            <div class="page-title">
                                <h2>Hunt Kingdom</h2>
                            </div>
                            <!-- .page-title -->

                            <!-- .page-header-content -->
                        </div>
                        <!-- .page-header -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </div>
            <!-- .page-header-overlay -->
        </section>

        <section class="bg-blog-style-2">
            <div class="container">
                <div class="row">

                    <div class="blog-style-2">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="comments-form">
                                    <h4 class="comments-title">Ajoutez une publication !</h4>
                                    <form action="#" method="POST">
                                        <textarea class="form-control comments-textarea" placeholder="Votre publication"></textarea>

                                        <button type="submit" >publier</button>
                                    </form>
                                </div>

                                <br>
                                {% for publication in publications %}
                                    <div class="blog-items">
                                        <div class="blog-img">
                                            {{ publication.image }}

                                        </div>
                                        <!-- .blog-img -->


                                        <div class="blog-content-box">
                                            <div class="blog-content">
                                                <h4><a href="blog_single.html">{{ publication.user }}</a></h4>
                                                <ul class="meta-post">
                                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ publication.Datepublication|date('d-m-Y H:i:s') }}</li>
                                                    <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 24 Like</a></li>
                                                    <li><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> 24 Comment</a></li>
                                                </ul>
                                                <p>{{ publication.text}}</p>
                                                <a href="{{ path('publication', { 'pub': publication.id }) }}">read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                            </div>
                                            <!-- .blog-content -->
                                        </div>
                                        <!-- .blog-content-box -->
                                    </div>
                                {% endfor %}
                                <!-- .blog-items -->

                                <!-- .blog-items -->


                                <div class="pagination-option">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <li>
                                                <a href="#" aria-label="Previous">
                                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li><a href="#">1</a></li>
                                            <li class="active"><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">...</a></li>
                                            <li><a href="#">5</a></li>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- .pagination_option -->
                            </div>
                            <!-- .col-md-8 -->
                            <div class="col-md-4">

                            <!-- .col-md-4 -->
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .blog-style-2 -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container -->
        </section>
    {% endblock content %}