{% extends 'baseFront.html.twig' %}
{% block title %}Panier{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/font-awesome.min.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/fonts/flaticon.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/bootstrap.min.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/animate.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/swiper.min.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/lightcase.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/jquery.nstSlider.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/flexslider.css') }}" media="all" />

    <!-- own style css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/style.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/rtl.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/responsive.css') }}" media="all" />
{% endblock %}
{% block content %}
    <section class="bg-page-header">
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="page-header">
                        <div class="page-title">
                            <h2>Panier</h2>
                        </div>
                        <!-- .page-title -->
                        <div class="page-header-content">
                            <ol class="breadcrumb">
                                <li><a href="{{ path('index') }}">Accueil</a></li>
                                <li>Panier</li>
                            </ol>
                        </div>
                        <!-- .page-header-content -->
                    </div>
                    <!-- .page-header -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container -->
        </div>
        <!-- .page-header-overlay -->
    </section>

    <section class="bg-product-cart-option">
        <div class="container">
            <div class="row">
                <div class="product-cart-option">
                    <div class="table-box">
                        <table class="cart-products-table">
                            <thead>
                            <tr>
                                <th class="cart-product">Produit</th>
                                <th class="cart-price">Prix</th>
                                <th class="cart-quantity">Quantite</th>
                                <th class="cart-total">Total</th>
                                <th class="cart-edit"></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for pc in pcs %}
                                <tr id="pc{{ pc.id }}">
                                    <td class="cart-product">
                                        <div class="product-cart-img">
                                            <a href="{{ path('produit_details',{'id':pc.produit.id}) }}"><img src="{{ asset('image_shop/') }}{{ pc.produit.imageProd }}" alt="product-cart-img-1" /></a>
                                        </div>
                                        <!-- .product-cart-img -->
                                        <div class="product-cart-title">
                                            <h4><a href="{{ path('produit_details',{'id':pc.produit.id}) }}">{{ pc.produit.nomProd }}</a></h4>
                                        </div>
                                        <!-- .product-cart-title -->
                                    </td>
                                    <td class="cart-price">{{ pc.produit.prixProd }}</td>
                                    <td class="cart-quantity">
                                        <div class="product-counter-option">
                                            <div class="product-count">
                                                <input id="removep{{ pc.id }}" type="submit" name="remove" value="-">
                                                <input id="quantityp{{ pc.id }}" type="text" name="quantity" value="{{ pc.quantite }}" disabled>
                                                <input id="addp{{ pc.id }}" type="submit" name="add" value="+">
                                            </div>
                                            <!-- .product-count -->
                                        </div>
                                    </td>
                                    <td class="cart-total" id="totalProd{{ pc.id }}">{{ pc.produit.prixProd * pc.quantite }}</td>
                                    <td class="cart-edit">
                                        <a href="#" id="deletep{{ pc.id }}"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- .table-box -->
                    <br>
                    <div class="chipping-box">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h4>Total</h4>
                                <ul class="total-cart">
                                    <li>Total Panier<span id="totalPanier">{{ total }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cart-checked-box">
                        <div class="cart-coupon-code">
                            <input type="text" name="text" placeholder="Coupon Code...">
                            <input type="submit" name="submit" value="apply coupon">
                        </div>
                        <!-- .coupon-code -->
                        <div class="cart-update">
                            <a href="{{ path('passer_commande') }}"><button type="submit">Passer commande</button></a>
                        </div>
                        <!-- .coupon-code -->
                    </div>
                    <!-- .chipping-box -->
                </div>
                <!-- .product-cart-option -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('front/assets/js/jquery-2.2.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/jquery.waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/jquery.counterup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/swiper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/plugins.isotope.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/isotope.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/lightcase.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/jquery.nstSlider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/jquery.flexslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/custom.isotope.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/assets/js/custom.map.js') }}"></script>

    <script type="text/javascript" src="{{ asset('front/assets/js/custom.js') }}"></script>

    <script type="text/javascript">
        $(function(){
            {% for pc in pcs %}
                $('#deletep{{ pc.id }}').click(function(e){
                    $.ajax({
                        url: '{{ path('delete_from_cart', {'id': pc.id}) }}',
                        success: function(data){
                            $('#totalPanier').text(parseFloat($('#totalPanier').text())-(parseInt($('#quantityp{{ pc.id }}').val())*{{ pc.produit.prixProd }}));
                            $('#pc{{ pc.id }}').remove();
                            $('#miniCart').html(data);
                            let total=parseFloat($('#totalPanier').text());
                        },
                        error: function(){
                            alert('erreur delete from cart ajax');
                        }
                    });
                    e.preventDefault();
                });
                $('#removep{{ pc.id }}').click(function(){
                    let nb=parseInt($('#quantityp{{ pc.id }}').val());
                    let total=parseFloat($('#totalPanier').text());
                    if (nb>1)
                    {
                        nb--;
                        $.ajax({
                            url: '{{ path('edit_cart', {'id': pc.id,'nb': -1}) }}',
                            success: function(data){
                                $('#quantityp{{ pc.id }}').val(parseInt($('#quantityp{{ pc.id }}').val())-1);
                                $('#totalPanier').text(total-{{ pc.produit.prixProd }});
                                $('#totalProd{{ pc.id }}').text(parseFloat($('#totalProd{{ pc.id }}').text())-({{ pc.produit.prixProd }}));
                                $('#miniCart').html(data);
                            },
                            error: function(){
                                alert('erreur decrementation ajax');
                            }
                        });
                    }
                });
            $('#addp{{ pc.id }}').click(function(){
                let nb=parseInt($('#quantityp{{ pc.id }}').val());
                let total=parseFloat($('#totalPanier').text());
                $.ajax({
                    url: '{{ path('edit_cart', {'id': pc.id,'nb': 1}) }}',
                    success: function(data){
                        $('#quantityp{{ pc.id }}').val(parseInt($('#quantityp{{ pc.id }}').val())+1);
                        $('#totalPanier').text(total+{{ pc.produit.prixProd }});
                        $('#totalProd{{ pc.id }}').text(parseFloat($('#totalProd{{ pc.id }}').text())+({{ pc.produit.prixProd }}));
                        $('#miniCart').html(data);
                    },
                    error: function(){
                        alert('erreur decrementation ajax');
                    }
                });
            });
            {% endfor %}
        });
    </script>
{% endblock %}